// 字体
// default
$default-color: #606266;
$default-select-color: #9cc;

// -----------------------------------------

// 边框
// default
$default-bd-color: #dcdfe6;
$default-bd-select-color: #9cc;

// primary
$primary-bd-color: #9cc;
$primary-bd-select-color: #a6d6d6;

// success
$success-bd-color: #6c9;
$success-bd-select-color: #77dca9;

// info
$info-bd-color: #ccc;
$info-bd-select-color: #d4d4d4;

// warning
$warning-bd-color: #fc9;
$warning-bd-select-color: #ffd7b0;

// danger
$danger-bd-color: #f66;
$danger-bd-select-color: #fb8484;

// -----------------------------------------

// 背景
// default
$default-bg-select-color: #f5fafa;

// primary
$primary-bg-color: #9cc;
$primary-bg-select-color: #a6d6d6;

// success
$success-bg-color: #6c9;
$success-bg-select-color: #77dca9;

// info
$info-bg-color: #ccc;
$info-bg-select-color: #d4d4d4;

// warning
$warning-bg-color: #fc9;
$warning-bg-select-color: #ffd7b0;

// danger
$danger-bg-color: #f66;
$danger-bg-select-color: #fb8484;

// -----------------------------------------

// 平淡
// default
$plain-default-select-color: #9cc;
$plain-default-bd-select-color: #9cc;

// primary
$plain-primary-color: #9cc;
$plain-primary-bg-color: #f0fdfd;

// success
$plain-success-color: #6c9;
$plain-success-bg-color: #effff7;

// info
$plain-info-color: #999;
$plain-info-bg-color: #f3f3f3;

// warning
$plain-warning-color: #ffc082;
$plain-warning-bg-color: #fbf5f0;

// danger
$plain-danger-color: #f66;
$plain-danger-bg-color: #fff4f4;
